<!--begin::Step 4-->
<div data-kt-stepper-element="content">
    <div class="w-100">
        <MethronicHtml.partials.modals.new_card._form />
        <!--layout-partial:partials/modals/new-card/_form.html-->
    </div>
</div>
<!--end::Step 4-->